.newsletter {
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 30px;

  .newsletterTitle {
    color: #333333;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
  }

  .newsletterForm {
    width: 100%;
    max-width: 992px;
    display: flex;
    justify-content: center;
  }

  .newsletterDiv {
    border: none;
    width: 100%;
    max-width: 260px;

    &:first-child {
      margin-right: 10px;
    }

    .newsletterInput {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0 12px;
      border-radius: 5px;
      border: 1px solid white;
      background: #fff;
      
      &:focus-within {
        border: 1px solid #BDBDBD;
      }
    }

    .error {
      margin: 0;
      font-size: 12px;
      line-height: 12px;
      color: #D7182A;
      margin-top: 5px;
      font-weight: normal;
    }
  }

  .newsletterSubmit {
    background: #000000;
    border-radius: 5px;
    width: 100%;
    max-width: 140px;
    padding: 13px 12px;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;

    &:focus {
      border-color: #000;
    }
  }
}

@media only screen and (max-width: 992px) {
  .newsletter {
    height: unset;
    padding: 20px 20px;

    .newsletterForm {
      flex-direction: column;
      align-items: center;

      .newsletterDiv {
        margin-bottom: 15px;
        color: #000;
        font-weight: bold;
        padding: 0 15px;
        width: 100%;
        max-width: unset;

        .newsletterInput {
          width: 100%;
          height: 100%;
          outline: none;
          padding: 0 12px;
          border: none;
          border-radius: 5px;
          background: #fff;
          height: 48px;
          
          &:focus-within {
            border: 1px solid #BDBDBD;
          }
        }

        &:first-child {
          margin-right: 0;
        }
      }

      .newsletterSubmit {
        max-width: 280px;
        margin: 0;
        padding: 16px 12px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .newsletter {

    .newsletterTitle {
      font-size: 21px;
    }

  }
}